# git config
# Windows you are the absolute worst sometimes
[core]
    eol = lf
    autocrlf = input
    hooksPath = tools/git_hooks

[gitflow "branch"]
	master = master
	develop = docs

[gitflow "prefix"]
	feature = feature/
	bugfix = bugfix/
	release = release/
	hotfix = hotfix/
	support = support/

    # ? I don't know
    # versiontag = v.

[gitflow "path"]
    # Hope it expands env vars!
	hooks = $HOME/projects/dynamic_ipython/.git/hooks

# Vim: set ft=gitconfig:
