# Git Attributes
# Vim: set ft=git:

*.py        diff=python
*.ipy       diff=python
*.js        diff=javascript
*.html      diff=html

# Line endings
* eol=lf
* text=auto
* crlf=text crlf=input

# File type specific
*.txt text
*.yml text
*.html text
*.bat eol=crlf

*.png binary
*.doctree   binary
*.pickle    binary
*.ttf binary
*.svg binary
*.pdf binary
*.jp[e]?g binary

# This is an odd {to say the least} regex but I got from it from M$FT themselves
# https://code.visualstudio.com/docs/remote/troubleshooting#_resolving-git-line-ending-issues-in-containers-resulting-in-many-modified-files
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
