# Git Attributes
# Vim: set ft=git:

# Line endings
* eol=lf
* text=auto

# File type specific line endings

*.txt		text whitespace=trailing-space,space-before-tab
*.rst		text whitespace=trailing-space,space-before-tab,tab-in-indent
*.yml text
*.html text

# File type diffs

*.py		text diff=python whitespace=trailing-space,space-before-tab,tab-in-indent
*.ipynb     diff=python
*.ipy       diff=python
*.js        diff=javascript
*.html      diff=html

# Binary files
*.png binary
*.doctree   binary
*.pickle    binary
*.ttf binary
*.svg binary
*.pdf binary
*.jp[e]?g binary

# This is an odd {to say the least} regex but I got from it from M$FT themselves
# https://code.visualstudio.com/docs/remote/troubleshooting#_resolving-git-line-ending-issues-in-containers-resulting-in-many-modified-files
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
