include README.rst
#include docs/source/*.rst
include LICENSE

global-include jupyter_conf/custom/fonts/*.ttf
global-include jupyter_conf/custom/fonts/*.otf
global-include jupyter_conf/custom/*.css
global-include jupyter_conf/custom/*.less
global-include jupyter_conf/nbconfig/*.json

global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
