include README.rst
#include docs/source/*.rst
include LICENSE

global-include default_profile
global-include default_profile/*
recursive-include default_profile *.py
recursive-include jupyter_conf/custom *.css
recursive-include jupyter_conf/custom *.less
recursive-include jupyter_conf/nbconfig *.json

global-exclude *~ *.pyc *.pyo .git .ipynb_checkpoints
