[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
nose = "*"
numpydoc = "*"
pandas = "*"
pydocstyle = "*"
pynvim = "*"
sphinx = "*"
yapf = "*"
tox = "*"
python-language-server = {extras = ["all"],version = "*"}

[packages]
dynamic-ipython = {editable = true,path = "."}
gruvbox-ipython = {editable = true,path = "./../Gruvbox-IPython"}
ipython = "*"
jupyter = "*"
notebook = "*"
qtconsole = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
