[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
doc8 = "*"
dynamic-ipython = {editable = true,path = "."}
flake8 = "*"
flake8-docstrings = "*"
flake8-rst = "*"
flake8-rst-docstrings = "*"
ipyparallel = "*"
ipython = "*"
isort = "*"
matplotlib = "*"
nose = "*"
numpydoc = "*"
pandas = "*"
prompt_toolkit = "*"
pydocstyle = "*"
pygments = "*"
pynvim = "*"
pytest = "*"
python-language-server = "*"
rope = "*"
rstcheck = "*"
sphinx = "*"
testpath = "*"
tox = "*"
traitlets = "*"
yapf = "*"

[packages]
IPython = "*"
dynamic-ipython = {editable = true,path = "."}
pipenv = "*"
pyreadline = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
# Vim: set ft=requirements:
