[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
doc8 = "*"
flake8 = "*"
ipyparallel = "*"
isort = "*"
matplotlib = "*"
nose = "*"
numpydoc = "*"
pandas = "*"
prompt_toolkit = "*"
pydocstyle = "*"
pygments = "*"
pynvim = "*"
pytest = "*"
python-language-server = "*"
rope = "*"
rstcheck = "*"
sphinx = "*"
testpath = "*"
tox = "*"
yapf = "*"

[packages]
ipython = "*"
dynamic-ipython = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
