alabaster>=0.7.12
Babel>=2.6.0
backcall>=0.1.0
certifi>=2019.3.9
chardet>=3.0.4
decorator>=4.4.0
docrepr>=0.1.1
docutils>=0.14
-e git+git@github.com:farisachugthai/dynamic_ipython.git@af103e98de1050fb59cf28fe96a8a53b5c7dc6fa#egg=dynamic_ipython
flake8>=3.7.7
flake8-rst>=0.7.1
greenlet>=0.4.15
-e git+git@github.com:farisachugthai/Gruvbox-IPython.git@a87d646df78561e11affbe662d0dad4ffbf20da9#egg=gruvbox_ipython
idna>=2.8
imagesize>=1.1.0
ipython>=7.4.0
ipython-genutils>=0.2.0
jedi>=0.13.3
Jinja2>=2.10.1
MarkupSafe>=1.1.1
matplotlib>=3.0.0
msgpack>=0.6.1
numpy>=1.16.2
numpydoc>=0.8.0
packaging>=19.0
parso>=0.4.0
pexpect>=4.7.0
pickleshare>=0.7.5
prompt-toolkit>=2.0.9
ptyprocess>=0.6.0
Pygments>=2.3.1
pynvim>=0.3.2
pyparsing>=2.3.1
pytz>=2018.9
requests>=2.21.0
rope>=0.14.0
six>=1.12.0
snowballstemmer>=1.2.1
Sphinx>=2.0.0
sphinxcontrib-applehelp>=1.0.1
sphinxcontrib-devhelp>=1.0.1
sphinxcontrib-htmlhelp>=1.0.1
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=1.0.2
sphinxcontrib-serializinghtml>=1.1.3
traitlets>=4.3.2
urllib3>=1.24.1
wcwidth>=0.1.7
yapf>=0.26.0
