# So if you check out --list-features then it'll point out
# wildcards...so we need to quote everything with a glob
--recurse=yes
--tag-relative=no
--exclude=.git
--exclude=log
--exclude=tmp
--exclude='**docs/_static**'
--exclude='**docs/build**'
--exclude=deps
--exclude='**node_modules/**'
--exclude='**.vscode**'
--exclude=public/assets
--exclude='*.git**'
--exclude='*.pyc'
--exclude='*.pyo'
--exclude=.DS_Store
--exclude='**.jar'
--exclude='**.class'
--exclude='**.idea/'
--exclude='**build**'
--exclude=Builds
--exclude='**.tox**'
--exclude=.tox
--exclude=.eggs
--exclude='**egg-info**'
--exclude=package-lock.json
--exclude=yarn.lock
--exclude='**jquery.**js'
--exclude='**.css'
--fields=+Knz
--extras=+fq
--append=no
--kinds-python=+zl
--alias-python=*.ipy
--with-list-header=yes
