autopep8==1.4.4
black==19.3b0
certifi==2019.9.11
-e git+https://github.com/farisachugthai/dynamic_ipython.git@98d3e7394c490b7ff4bc854ae5cd43f4a9a8d85a#egg=dynamic_ipython
flake8==3.7.8
-e git+https://github.com/farisachugthai/Gruvbox-IPython.git@af5b401b0554b997c9ec81448afd4f5a825c9229#egg=gruvbox_ipython
ipykernel==5.1.2
ipyparallel==6.2.4
isort==4.3.21
jupyter-client==5.3.3
jupyter-core==4.5.0
matplotlib==3.1.1
nose==1.3.7
numpy==1.17.2
numpydoc==0.9.1
pandas==0.25.1
pynvim==0.3.2
pytest==5.1.3
python-language-server[all]==0.28.3
rstcheck==3.3.1
Sphinx==2.2.0
testpath==0.4.2
tox==3.14.0
yapf==0.28.0
