alabaster==0.7.12
appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
black==19.3b0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.0
docutils==0.15.2
-e git+https://github.com/farisachugthai/dynamic_ipython.git@98d3e7394c490b7ff4bc854ae5cd43f4a9a8d85a#egg=dynamic_ipython
entrypoints==0.3
filelock==3.0.12
flake8==3.7.8
future==0.17.1
greenlet==0.4.15
-e git+https://github.com/farisachugthai/Gruvbox-IPython.git@af5b401b0554b997c9ec81448afd4f5a825c9229#egg=gruvbox_ipython
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
ipykernel==5.1.2
ipyparallel==6.2.4
-e git+https://github.com/ipython/ipython.git@07f765cefe92ff15ca0e6ea1c12d39d5161121e4#egg=ipython
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.1
jupyter-client==5.3.3
jupyter-core==4.5.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
more-itertools==7.2.0
msgpack==0.6.2
nose==1.3.7
numpy==1.17.2
numpydoc==0.9.1
packaging==19.2
pandas==0.25.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.13.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pydocstyle==4.0.1
pyflakes==2.1.1
Pygments==2.4.2
pynvim==0.3.2
pyparsing==2.4.2
pytest==5.1.3
python-dateutil==2.8.0
python-jsonrpc-server==0.2.0
python-language-server==0.28.3
pytz==2019.2
pyzmq==18.1.0
requests==2.22.0
rope==0.14.0
rstcheck==3.3.1
six==1.12.0
snowballstemmer==1.9.1
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
testpath==0.4.2
toml==0.10.0
tornado==6.0.3
tox==3.14.0
traitlets==4.3.2
urllib3==1.25.5
virtualenv==16.7.5
wcwidth==0.1.7
yapf==0.28.0
zipp==0.6.0
