certifi==2019.6.16
flake8==3.7.8
-e git+git@github.com:farisachugthai/Gruvbox-IPython.git@a789edf4a1744add1339c6654f67180ab0b736f2#egg=gruvbox_ipython
ipdb==0.12.2
ipykernel>=5.1.0
ipython==7.7.0
isort==4.3.21
nose==1.3.7
numpy==1.17.0
numpydoc==0.9.1
pandas==0.25.0
pydocstyle==4.0.0
pynvim==0.3.2
pytest
python-language-server==0.28.1
rstcheck==3.3.1
Sphinx==2.2.0
toml==0.10.0
tox==3.13.2
yapf==0.28.0
